#map {
    grid-column: 2/3;
    grid-row: 0/end;
    height: 100%;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    widows: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

#filter {
    background-color: #dfe4ea;
    grid-column: 1/2;
}

button {
    background-color: black;
}

input {
    color: black;
}

span {
    position: relative;
    left: 7%;
    font-size: 25px;
    margin-bottom: 3px;
}

#listInput {
    position: relative;
    top: 10%;
    width: 95%;
    height: 30px;
    left: 5px;
}

#resultList {
    position: relative;
    font-size: 25px;
    margin: 0;
    top: 5px;
    left: -30px;
}

li {
    margin-bottom: 5px;
    color: mediumvioletred;
}

#extraInfo {
    position: absolute;
    top: 10px;
    left: 65%;
    background-color: antiquewhite;
    width: 30%;
    z-index: 99;
}